!
! Espresso
!
*.foreground:  #ffffff
*.background:  #323232
*.cursorColor: #d6d6d6
!
! Black
*.color0:      #353535
*.color8:      #606060
!
! Red
*.color1:      #d25252
*.color9:      #f00c0c
!
! Green
*.color2:      #a5c261
*.color10:     #c2e075
!
! Yellow
*.color3:      #ffc66d
*.color11:     #e1e48b
!
! Blue
*.color4:      #6c99bb
*.color12:     #8ab7d9
!
! Magenta
*.color5:      #d197d9
*.color13:     #efb5f7
!
! Cyan
*.color6:      #bed6ff
*.color14:     #dcf4ff
!
! White
*.color7:      #eeeeec
*.color15:     #ffffff
!
! Bold, Italic, Underline
*.colorBD:     #ffffff
!*.colorIT:
!*.colorUL:

xterm.vt100.utf8: true
*.vt100.faceName: Terminess Nerd Font Mono:style=Bold:antialias=true
*.vt100.faceNameDoublesize: Sarasa Term SC Nerd:antialias=false
*.vt100.faceSize: 10
*.vt100.renderFont: true
xterm*faceSize1: 4
xterm*faceSize2: 6
xterm*faceSize3: 8
xterm*faceSize4: 12
xterm*faceSize5: 16
xterm*faceSize6: 22
xterm*faceSize7: 30
*.vt100.scrollKey: true
*.vt100.scrollTtyOutput: false
*.vt100.saveLines: 20000
*.vt100.metaSendsEscape: true
*.vt100.backarrowKey: false
*.ttyModes: erase ^?

*.vt100.translations: #override \
  Ctrl <Key> minus: smaller-vt-font() \n\
  Ctrl <Key> plus: larger-vt-font() \n\
  Ctrl <Key> 0: set-vt-font(d) \n\
  Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>V: insert-selection(CLIPBOARD)
